.jumbotron {
    background-image: url("../img/pexels-ketut-subiyanto-4473903.jpg");
    background-attachment: fixed;
    background-size: cover;
}
.jumbotron >div {
    color: black;
    background-color: #1b75bb;
    opacity: 0.8;
}
.btn{
    background-color: #0b4a7c;
}
.spacer {
    background-color:#202f4f;
}

.location div{
    background-repeat: no-repeat;
}

.footer-row{
    background-color:#202f4f;
    height: 80px;
}


@media only screen and (min-width: 768px) {
    .jumbotron {
        height: 40rem;
    }
  }
  @media only screen and (max-width: 992px) {
    .speaker-card{
        padding: 3rem 3rem 0 !important;
    }
  }